"""
Ejemplo de configuración. Ajusta los valores a tus necesidades
"""

CONFIG = {
    "TOKEN": "Telegram bot Token",
    "BOTNAME": "El nombre de tu bot",
    "AUTHUSER": "Usuario autorizado al que el bot contestará (el tuyo)",
    "MAIL": "Tu email, ya servirá para algo",
    "LANG": "Idioma para las API",
    "MAPREQUEST": "MapRequestAPI API key",
    "USERAGENT": "UserAgent para tu bot",
}
