# Simple configuration example

config = {
    "TOKEN": "Your telegram bot token goes here",
    "BOTNAME": "Name of your bot",
    "AUTHUSER": "Authorized username, you know",
    "LANG": "Language user for APIs",
    "MAPREQUEST": "MapRequestAPI API key"
}
